---
import AddToCartForm from "@/components/AddToCartForm.svelte"
import Beyond from "@/components/Beyond.astro"
import Features from "@/components/Features.astro"
import Hero from "@/components/Hero.svelte"
import Navigation from "@/components/Navigation.svelte"
import Note from "@/components/Note.svelte"
import Professionals from "@/components/Professionals.svelte"
import SearchAndRetrive from "@/components/SearchAndRetrive.astro"
import Layout from "@/layouts/Layout.astro"
import { setCache } from "@/lib/cache"
import { getProductByHandle } from "@/lib/shopify/query"

const headers = Astro.request.headers
const ip = headers.get("x-vercel-forwarded-for") || Astro.clientAddress

const product = await getProductByHandle({
  handle: "telos-freestanding-ultralight-tent-2",
  buyerIP: ip,
})
const firstVariant = product?.variants.nodes[0]

setCache.short(Astro)

export const prerender = false
---

<Layout title="PLAUD NotePin - The World's Most Wearable AI Voice Recorder">
  <Navigation client:visible />
  <Hero client:visible />
  <Features />
  <Professionals client:only="svelte" />
  <Note client:only="svelte" />
  <Beyond />
  <SearchAndRetrive />
  <div>
    <p>
      {product?.title}
    </p>
    <p>
      {firstVariant?.price}
    </p>
    <AddToCartForm
      client:load
      variantId={firstVariant?.id}
      variantQuantityAvailable={firstVariant?.quantityAvailable}
      variantAvailableForSale={firstVariant?.availableForSale}
    />
  </div>
</Layout>
